# Full configuration options can be found at https://www.vaultproject.io/docs/configuration
ui = true

storage "gcs" {
  bucket = "{{ vault_gcs_bucket }}"
}

api_addr = "https://{{ vault_api_domain }}:8200"

listener "tcp" {
  address       = "0.0.0.0:8200"
  tls_cert_file = "/var/ssl/vault/tls.crt"
  tls_key_file  = "/var/ssl/vault/tls.key"
}

seal "gcpckms" {
  project    = "{{ vault_gcpckms_project }}"
  region     = "global"
  key_ring   = "{{ vault_gcpckms_key_ring }}"
  crypto_key = "{{ vault_gcpckms_crypto_key }}"
}
