# {{ ansible_managed }}

[Unit]
Description=Timer for revoking a Vault Root Token

[Timer]
OnCalendar=hourly
RandomizedDelaySec=60
Persistent=true

[Install]
WantedBy=timers.target